html {
    background: url("./images/goonies_BW.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

h1 {
    font-family: 'Amatic SC', cursive;
    color: ghostwhite;
    text-align: center
}

h3 {

    font-family: 'Josefin Sans', sans-serif;
    color: ghostwhite;
    text-align: center;
}