html {
    /* background: url("./images/never_say_die.jpg") no-repeat center center fixed; */
    background: url("./images/the-goonies-4-BW.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

h1 {
    font-family: 'Amatic SC', cursive;
    color: goldenrod;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
}

#header {
    text-align: center;
}

#name_link_row {
    text-align: center;
}

form {
    /* background-color: #70421480; */
    background: url("./images/never_say_die.jpg") no-repeat center center fixed;
    padding: 25px;
    font-family: 'Josefin Sans', sans-serif;
}

label {
    color: goldenrod;
}

input[value] {
    background: url("./images/treasure-map-x-clipart_640-480.png") no-repeat center center;
}



#left_column {
    text-align: center;
}

#right_column {
    text-align: center;
}

#submit_button {
    text-align: center;
}
#submitButtonColor {
    /* background-color: goldenrod; */
    border: none;
}

/* Modal Style */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* #matchModal {
background: ghostwhite;
width: 300px;
height: 250px;
} */

.modal-header {
    text-align: center;  
    padding: 25px;
}

#header-title {
    font-family: 'Amatic SC', cursive;
}

.modal-body {
    text-align: center;
}

#match-name {
    font-family: 'Josefin Sans', sans-serif;
}

/* .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
} */


