html {
    /* background: url("./images/never_say_die.jpg") no-repeat center center fixed; */
    background: url("./images/the-goonies-4-BW.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

h1 {
    font-family: 'Amatic SC', cursive;
    color: goldenrod;
}

#header-title {
    font-family: 'Amatic SC', cursive;
    color: goldenrod;
    text-align: center;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: goldenrod;
}

h4 {
    font-family: 'Amatic SC', cursive;
    color: goldenrod;
    text-align: center;
}

#header {
    text-align: center;
}

#name_link_row {
    text-align: center;
}

form {
    /* background-color: #70421480; */
    background: url("./images/never_say_die.jpg") no-repeat center center;
    padding: 25px;
    font-family: 'Josefin Sans', sans-serif;
}

label {
    color: goldenrod;
}

input[value] {
    background: url("./images/treasure-map-x-clipart_640-480.png") no-repeat center center;
}

span {
    padding: 10px;
}


#left_column {
    text-align: center;
}

#right_column {
    text-align: center;
}

#submit_button {
    text-align: center;
}
#submitButton {
    /* background-color: goldenrod; */
    border: none;
}

.modal a.close-modal[class*="icon-"] {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    color: #fff;
    line-height: 1.25;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    background: #900;
    border: 2px solid #fff;
    -webkit-border-radius:  26px;
    -moz-border-radius:     26px;
    -o-border-radius:       26px;
    -ms-border-radius:      26px;
    -moz-box-shadow:    1px 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    box-shadow:         1px 1px 5px rgba(0,0,0,0.5);
  }

.modal-body {
    text-align: center;
}


